{% extends 'base.html' %}
{% block title %}About
{% endblock title %}
{% block body %}



<div class="jumbotron">
  <h1 class="display-4">ETECH GLOBAL SERVICES</h1>
  <p class="lead">Our Company</p>
  <hr class="my-4">
  <p>Etech Global Services is a servant leader organization committed to making a remarkable difference for each other, our customers, and within our communities. Etech offers a suite of services that includes inbound and outbound customer care, quality monitoring and analytics, email, live chat, technical support, back office support, and software development. Our current partnerships with more than 47 companies include managing upwards of 100 million voice interactions, 20 million chat and email interactions, and 2 million quality monitoring evaluations per month.

Etech launched in 2003 with only 400 employees and a single contact center in Nacogdoches, Texas. Over the last 17 years, we have expanded our range of services and have grown to include more than 3,000 employees and eight state-of-the-art contact centers with five U.S., one nearshore, and two offshore locations. All of this has been accomplished without the need for mergers or acquisitions.

Etech’s company partnerships have benefited from our proven track record of creating improved customer experiences, enhanced customer satisfaction and advocacy, increased conversion rates, higher net promoter scores, and stronger customer relationships.
</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
{% endblock body %}

